# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/**/www
/**/wwwroot
/**/dist
/**/tmp
/**/Database

# dependencies
/**/node_modules
/**/bower_components


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/**/.sass-cache
*debug.log
/**/environments/version.ts
/**/appsettings.local.json
npm-debug.log
yarn-error.log
/typings

# e2e
/**/e2e/*.js
/**/e2e/*.map

#System Files
.DS_Store
Thumbs.db
/**/project.lock.json
