<mat-toolbar class = "centerHead">
	<span>Author Details</span>
 </mat-toolbar>

<div class="main-div">

<mat-card class="example-card">
	<mat-card-header>
		<span class="tab"></span>
	<mat-icon mat-list-icon  (click)="GotoStartPage()">home</mat-icon>
	  <div mat-card-avatar class="example-header-image"></div>
	  <mat-card-title>{{item?.firstName}},{{item?.lastName}}</mat-card-title>
	 
	</mat-card-header>
	<br>
	<img mat-card-image src="assets/images/author1.jpg" alt="BookPictures">

	<mat-card-content  >
		
		Books Written :
	<mat-list>
		<mat-list-item class = "click-item" *ngFor="let book of allBooks" (click)="showBookDetails(book)"> {{book.title}} 
		</mat-list-item>
	</mat-list> 

	</mat-card-content>
	<mat-card-actions class ="right-icon" >
	<button mat-raised-button (click)="GoBackPage()">Back</button>
	
	</mat-card-actions>
 </mat-card>

</div>