@import "../node_modules/ejot-style/internet/theme";

@include ej-core();

html, body { height: 100%; }

.main-content{
	display:block;
	width:100%;
	height:100%;
	background: url('/assets/images/bg.jpg') no-repeat center center fixed;
}