<!-- <mat-toolbar class = "centerHead">

	<span>Welcome to the Library</span>
 </mat-toolbar>

<div class="main-div">

<mat-card class="example-card" style="text-align: center;">
	
	<img mat-card-image src="assets/images/Library.jpg" alt="BookPictures">
	<mat-card-content >
		<p>
		<button mat-raised-button (click)="Books()">Books</button>
		<span class ="tab"></span>
		<button mat-raised-button (click)="Authors()">Authors</button>
		<span class ="tab"></span>
		<button mat-raised-button (click)="Publishers()">Publishers</button>
		
		</p>
		
	</mat-card-content>

 </mat-card>

</div>
 -->


 <div class="example-container" >
		<img mat-card-image src="assets/images/lib.jpg" alt="BookPictures">
	
 </div>
