<mat-toolbar class = "main-div">
	<span>Update Books</span>
 </mat-toolbar>

<br>
<br>

 <div class="main-div">
	<form name="updateBookForm" #updateBookForm="ngForm">
	<mat-card class="example-card">
		
		<mat-card-content  >
			
			<mat-form-field appearance="fill">
				<mat-label>Book Title</mat-label>
				<input matInput placeholder="xyz" [(ngModel)]="model.title" id="title" #title="ngModel" name="title" required >
				<mat-error *ngIf="title.errors && title.errors.required">Feld muss ausgefüllt werden!</mat-error>
			 </mat-form-field>
		 <br>
			 <mat-form-field appearance="fill">
				 <mat-label>Book Location</mat-label>
				 <input matInput placeholder="xyz" [(ngModel)]="model.location" #location="ngModel" id="location" name="location" required>
				 <mat-error *ngIf="location.errors && location.errors.required">Feld muss ausgefüllt werden!</mat-error>
			  </mat-form-field>
			<br>
			<div>
				<mat-form-field appearance="fill">
					<mat-label>Authors</mat-label>
					<mat-select multiple [(ngModel)]="model.AuthorIds" id="authors" name="authors" #authors="ngModel" required>
					  <mat-option *ngFor="let author of authorList" [value]="author.id" >{{author.firstName}},{{author.lastName}}</mat-option>
					  <mat-error *ngIf="authors.errors && authors.errors.required">Feld muss ausgefüllt werden!</mat-error>
					</mat-select>
				 </mat-form-field>
				 <mat-icon mat-list-icon class = "cursor" (click)="AddAuthors()">add_circle_outline</mat-icon>
				 <br>
			</div>
			 <div>

			 
			 <mat-form-field appearance="fill">
				<mat-label>Publishers</mat-label>
				<mat-select multiple [(ngModel)]="model.PublisherIds" id="Publishers" name="Publishers" #publishers ="ngModel" required>
				  <mat-option *ngFor="let publisher of publisherList" [value]="publisher.id" >{{publisher.name}}</mat-option>
				  <mat-error *ngIf="publishers.errors && publishers.errors.required">Feld muss ausgefüllt werden!</mat-error>
				</mat-select>
			 </mat-form-field>
			 <mat-icon mat-list-icon class = "cursor" (click)="AddPublishers()">add_circle_outline</mat-icon>
			 <br>
			</div>
		</mat-card-content>
		<mat-dialog-actions>
			<button mat-raised-button mat-dialog-close  color="primary" [disabled]="updateBookForm.form.invalid || updateBookForm.form.pristine" (click)="onClick()">Update</button>
			<span class="tab"></span>
			<button mat-raised-button color="accent" (click)="GoBackPage()">Back</button> 
		</mat-dialog-actions>
		
	 </mat-card>
	</form>
	</div>